textarea, 
textarea.form-control, 
input.form-control, 
input[type=text], 
input[type=password], 
input[type=email], 
input[type=number], 
[type=text].form-control,
[type=password].form-control, 
[type=email].form-control, 
[type=tel].form-control, 
[contenteditable].form-control {
    font-size: 11px;
    height: 22px;
}

label.custom-label {
    font-size: 11px;
    font-weight: bold;
}